.container {
  width: min(100% - 3rem, 120rem);
  margin-inline: auto;
}
.box {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.wrapper {
  height: 18.8rem;
  width: 40rem;
}
.wrapper h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.search-wrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 40rem;
  height: 5rem;
}
input[type=text], input[type=submit] {
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px;
  border: #000 1px solid;
}
input[type=text] {
  width: 29rem;
  transition: all 0.3s ease-in-out;
}
input[type=text]:focus {
  border-color: #ee8232;
}
input[type=submit] {
  width: 9rem;
  background-color: #ee8232;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
input[type=submit]:hover {
  background-color: #fff;
  color: #ee8232;
}
.message-wrapper {
  height: 1.8rem;
}
.message {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.info-wrapper{
  padding: 5rem;
  margin-bottom: auto;
  margin-top: 10rem;
  display: grid;
  justify-content: center;
  align-items: center;
}
img {
  margin: auto;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}
.info-wrapper h1 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  font-weight: 600;
}
.detail-wrapper {
  margin-top: 1.5rem;
  display: flex;
}
.detail-wrapper p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.75rem;
}
span {
  display: inline-block;
  text-align: left;
  width: 5rem;
  margin-left: 0.5rem;
  color: yellow;
  font-weight: 600;
  font-size: 1.75rem;
}
button {
  width: 25rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px;
  border: #000 1px solid;
  background-color: #ee8232;
  margin: 0;
  position: absolute;
  top: 47.5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.link {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.repos-wrapper {
  margin: 0;
  position: absolute;
  top: 57.5%;
  left: calc((100% - 1000px )/ 2);
  text-align: left;
}
.repos-wrapper h2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
}
.repo {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #2f2f2f;
  width: 100rem;
  height: 10rem;
  border-radius: 8px;
}
.repo h3 {
  font-size: 2rem;
  color: #ee8232;
  font-weight: 600;
}
.repo p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 0.5rem;
}
.time {
  color: rgba(255, 255, 255, 0.6);
}