.container {
  width: min(100% - 3rem, 120rem);
  margin-inline: auto;
}
.box {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.wrapper {
  height: 18.8rem;
  width: 40rem;
}
.wrapper h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.search-wrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 40rem;
  height: 5rem;
}
input[type=text], input[type=submit] {
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px;
  border: #000 1px solid;
}
input[type=text] {
  width: 29rem;
  transition: all 0.3s ease-in-out;
}
input[type=text]:focus {
  border-color: #ee8232;
}
input[type=submit] {
  width: 9rem;
  background-color: #ee8232;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
input[type=submit]:hover {
  background-color: #fff;
  color: #ee8232;
}
.message {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-top: 1.5rem;
}
.info-wrapper{
  margin-bottom: auto;
  margin-top: 10rem;
  display: grid;
  justify-content: center;
  align-items: center;
}
.repos {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 23%;
  text-align: left;
}

img {
  margin: auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.info h1 {
  margin-top: 10px;
  font-weight: 500;
}

span {
  display: inline-block;
  text-align: center;
  width: 100px;
  color: #008000;
  font-weight: 600;
  font-size: 1.75rem;
}

.p {
  display: flex;
  text-align: center;
}

.info p {
  width: 100px;
  color: #000;
}

button {
  width: 200px;
  border-radius: 50px;
  left: 33px;
}

.link {
  color: #fff;
  text-decoration: none;
}


.repo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--app-grey-bg);
  width: 800px;
  height: 80px;
  border-radius: 8px;
}

.last-updated {
  color: #666;
}

h2 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  color:#008000;
}